@model GerenciadorDeEstoque.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <div class="dl-horizontal">

        <div class="panel-heading">

            @Html.DisplayName("Número do produto"):
            @Html.DisplayFor(model => model.Id) -
           
        </div>
       
        <div class="panel-body">
            @Html.DisplayNameFor(model => model.Nome):
            @Html.DisplayFor(model => model.Nome)
        </div>
        <div class="panel-body">
            @Html.DisplayNameFor(model => model.Quantidade):
            @Html.DisplayFor(model => model.Quantidade)
        </div>
        <div class="panel-footer">
            @Html.DisplayNameFor(model => model.Fornecedor):
            @Html.DisplayFor(model => model.Fornecedor.Nome)
        </div>
        <div class="panel-footer">
            @Html.DisplayNameFor(model => model.Categoria):
            @Html.DisplayFor(model => model.Categoria.Nome)
        </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", "Produto", new { id = Model.Id}, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Voltar", "Index", "Produto", new { @class = "btn btn-primary" })
</p>